*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

body, html {
  width: 100%;
  overflow-x: hidden
}

header nav ul li {
  position: relative;
  transition: all .3s ease;
}

header nav ul li::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  height: 2px;
  width: 50%;
  background-color: #000;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .3s ease;
}

header nav ul li:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

header button.login {
  transition: all .3s ease;
}

header button.login:hover {
  background: #ffffff80;
  backdrop-filter: blur(4px);
}

.swiper .swiper-wrapper .swiper-slide .swiper-description {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.swiper .swiper-wrapper .swiper-slide .swiper-description button {
  transition: all .3s ease;
}

.swiper .swiper-wrapper .swiper-slide .swiper-description button:hover,
.swiper .swiper-wrapper .swiper-slide .swiper-description .description-right button:hover {
  background: #ffffff80;
}

.separator {
  background: url(../assets/finland.jpg) center center no-repeat fixed;
  background-size: cover;
}