*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

body, html {
  width: 100%;
}

header {
  width: calc(100% - 256px);
  transition: all .3s ease;
}

header:hover {
  background: #eeeeee;
  backdrop-filter: none;
}

header nav ul li {
  position: relative;
  transition: all .3s ease;
}

header nav ul li::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  height: 2px;
  width: 50%;
  background-color: #fff;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .3s ease;
}

header nav ul li:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

header button.login:hover {
  background: #ffffff80;
  backdrop-filter: blur(4px);
}

.swiper .swiper-wrapper .swiper-slide .swiper-description {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.swiper .swiper-wrapper .swiper-slide .swiper-description button:hover,
.swiper .swiper-wrapper .swiper-slide .swiper-description .description-right button:hover {
  background: #ffffff80;
}

.top-destinations .cards-container .card,
.dont-worry button,
.swiper .swiper-wrapper .swiper-slide .swiper-description button,
header button.login,
.do-you-know button {
  transition: all .3s ease;
}

.top-destinations .cards-container .card:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .3);
}

.separator {
  background: url(../assets/finland.jpg) center center no-repeat fixed;
  background-size: cover;
}

.do-you-know {
  background: url(../assets/maldivas.jpg) center center no-repeat fixed;
  background-size: cover;
}

.dont-worry button:hover,
.do-you-know button:hover {
  background: #000;
  color: #fff;
}