/*variáveis*/
:root {
  --body-bg: #eee;
  --dark-body-bg: #ccc;
  --footer-bg: #ccc;
  --light-text: #fff;
  --dark-text: #000;
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --dark-gray: #555;
  --transparent: #ffffff40;
  --slide-bg: #ffffff20;
  --header-hover: #ccc;
  --card-shadow: 2px 2px 15px rgba(0, 0, 0, .2);
  --card-hover-shadow: 3px 3px 20px rgba(0, 0, 0, .3);
}

.dark {
  --body-bg: #1b1b1b;
  --dark-body-bg: #111111;
  --footer-bg: #000;
  --white: #000;
  --black: #fff;
  --gray: #444;
  --dark-gray: #222;
  --transparent: #00000070;
  --slide-bg: #00000085;
  --header-hover: #000;
  --card-shadow: 1px 1px 10px rgba(255, 255, 255, .1);
  --card-hover-shadow: 2px 2px 10px rgba(255, 255, 255, .2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

body, html {
  width: 100%;
}

.header-container {
  width: calc(100% - 256px);
}

header.menu-opened {
  background: var(--header-hover);
  border-radius: 24px 24px 0 0;
}

header:hover {
  background: var(--header-hover);
  backdrop-filter: blur(0px);
}

/*menu hamburguer*/
header nav .menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background: var(--transparent);
  border-radius: 4px;
  transition: 0.3s ease;
}

header:hover nav .menu-icon span,
header.menu-opened nav .menu-icon span {
  background: var(--body-bg);
}

header nav .menu-toggle:checked + .menu-icon span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

header nav .menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}

header nav .menu-toggle:checked + .menu-icon span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

header nav .menu-toggle:checked ~ ul {
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 32px 0;
  background: var(--header-hover);
  border-radius: 24px;
}

header nav .menu-toggle:checked ~ ul li::after {
  width: 200px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

header nav ul li {
  position: relative;
  transition: all .3s ease;
}

header nav ul li::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  height: 2px;
  width: 50%;
  background-color: var(--light-text);
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .3s ease;
}

header nav ul li:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

header #theme-toggle {
  display: none;
}

header .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--transparent);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

header .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background: var(--slide-bg);
  width: calc(25px - 4px);
  border-radius: 50%;
  transition: all .3s ease;
}

header:hover .theme-toggle,
header.menu-opened .theme-toggle {
  background: var(--body-bg);
}

header:hover .theme-toggle::before,
header.menu-opened .theme-toggle::before {
  background: var(--gray);
}

header #theme-toggle:checked+.theme-toggle::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.swiper .swiper-wrapper .swiper-slide .swiper-description {
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
}

.swiper .swiper-wrapper .swiper-slide .swiper-description button:hover,
.swiper .swiper-wrapper .swiper-slide .swiper-description .description-right button:hover {
  background: #ffffff80;
}

.top-destinations .cards-container .card:hover,
.testimonials .cards-container .card:hover {
  box-shadow: var(--card-hover-shadow);
}

.separator {
  background: url(../assets/finland.jpg) center center no-repeat fixed;
  background-size: cover;
}

.do-you-know {
  background: url(../assets/maldivas.jpg) center center no-repeat fixed;
  background-size: cover;
}

.dont-worry button:hover,
.do-you-know button:hover {
  background: var(--black);
  color: var(--white);
}

.testimonials .cards-container .card::before {
  content: "";
  position: absolute;
  top: -36px;
  left: 107px;
  width: 74px;
  height: 36px;
  background: var(--white);
  border-radius: 37px 37px 0 0;
  box-shadow: 2px -2px 15px rgba(255, 255, 255, .1);
  transition: all .3s ease;
}

.testimonials .cards-container .card:hover::before {
  box-shadow: 2px -2px 15px rgba(0, 0, 0, .2);
}

html.dark .testimonials .cards-container .card:hover::before {
  box-shadow: 2px -2px 15px rgba(255, 255, 255, .2);
}

.message input:focus-within,
.message textarea:focus-within {
  border: 1px solid var(--black);
}

.message button:hover {
  background: #0101be;
}

footer .top .right .col p:hover {
  color: var(--dark-gray);
}

footer .bottom .icons > i:hover,
footer .bottom .icons > .circle:hover {
  background: var(--black);
  color: var(--white);
}

footer .bottom .icons > .circle:hover i {
  color: var(--white);
}

body,
.header-container,
header,
header nav,
header nav ul,
.top-destinations .cards-container .card,
.dont-worry button,
.swiper .swiper-wrapper .swiper-slide .swiper-description button,
header button.login,
.do-you-know button,
.testimonials .cards-container .card,
.message button,
footer .top .right .col p,
footer .bottom .icons > i,
footer .bottom .icons > .circle,
.message input,
.message textarea {
  transition: all .3s ease;
}
